:root {
    --blue-color: #7289DA;
    --white-color: #ffffff;
    --light-gray: #99AAB5;
    --gray-color: #2C2F33;
    --dark-gray: #23272A;
    --red-color: #ED4245;
    --links-color: #00B0F4;

    /* Couleurs JS */
    --js-string-color: #ff8747;
    --js-boolean-color: #81a9ff;
    --js-function-color: #f3ffaf;
    --js-attribut-color: #0bd81c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--light-gray);
}


/* Body en grille de deux colonnes partageant en deux le body */
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--gray-color);
}

/* Colonne de gauche */
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
}

/* Colonne de droite */
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    background-color: var(--dark-gray);
}

.preview {
    top: 26px;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Titre */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 26px;
    background-color: var(--dark-gray);
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    text-align: center;
}

.title h2 {
    font-size: 3rem;
    color: var(--blue-color);
}

.title p {
    font-size: 1rem;
    color: var(--white-color);
}

/* Formulaire */
.generator {
    background-color: var(--dark-gray);
    width: 90%;
    padding: 19px;
    margin-top: 26px;
    border-radius: 5px;
}

.embed {
    border-left: 3px solid var(--light-gray);
    border-radius: 2px;
    padding-left: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.field {
    display: flex;
    flex-direction: column;
}

input, textarea {
    resize: none;
    background-color: var(--gray-color);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

input[type="color"] {
    height: 60px;
    width: 60px;
}

input::placeholder, textarea::placeholder {
    color: var(--light-gray);
    opacity: 50%;
}

.buttons {
    display: flex;
}

button {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    color: var(--white-color);
    font-weight: bold;
    cursor: pointer;
}

#red {
    background-color: var(--red-color);
}

#blue {
    background-color: var(--blue-color);
}

.embed-preview {
    margin-bottom: 26px;
    padding: 10px;
    background-color: var(--gray-color);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 4px solid var(--light-gray);
    border-radius: 5px;
}

.embed-preview * {
    margin-bottom: 5px;
    color: var(--white-color);
}

.embed-preview img {
    display: none;
}

.header {
    display: flex;
    align-items: center;
}

.author-preview {
    display: flex;
}

.author-icon-preview {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.thumbnail-preview-div {
    margin-left: auto;
}

.thumbnail-preview {
    width: 64px;
    border-radius: 5px;
}

.image-preview {
    width: 100%;
    border-radius: 5px;
}

.footer-preview {
    display: flex;
    align-items: center;
    font-size: small;
}

.footer-content-preview {
    margin-right: 10px;
}

.footer-icon-preview {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

code {
    font-family: "Source Code Pro",Monospace1,Monospace2,Monospace3,monospace;
    background-color: #23272a;
    padding: 4px 8px;
    border-radius: 5px;
}

.embed-preview a {
    color: var(--links-color);
    text-decoration: none;
}




.code-preview {
    background-color: var(--gray-color);
    width: 90%;
    margin-top: 50px;
    padding: 19px;
    border-radius: 5px;
    color: var(--white-color);
}

.code-preview-fields {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

/* Empêcher le scroll horizontal en allant automatiquement à la ligne en bout de ligne */
.code-preview-description {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.comment {
    color: rgb(136, 136, 136);
}

.string {
    color: var(--js-string-color);
}

.const {
    color: var(--js-boolean-color);
}

.function {
    color: var(--js-function-color);
}

.attribut {
    color: var(--js-attribut-color);
}


@media screen and (max-width: 950px) {
    body {
        grid-template-columns: 1fr;
    }

    .right-section {
        height: auto;
    }

    .embed-preview {
        margin-top: 100px;
    }
}